.Planes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 85px;
}
.Planes-container::after {
  content: "";
  display: block;
  background-color: #b49fdf;
  height: 504px;
  width: 100%;
  position: absolute;
}

.Planes-container > div {
  display: flex;
  gap: 10px;
  z-index: 1;
}

.Planes-container > div > p {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 700;
}

.Planes-container > h2 {
  font-size: 64px;
  z-index: 1;
  text-align: center;
}
.Planes-planescard-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
  justify-content: space-evenly;
  width: 100%;
  z-index: 1;
  margin-top: 50px;
}
#Planescard_id_blue {
  height: 570px;
}
#Planescard_id_blue > h3 {
  color: #00a8ff;
  border-color: #00a8ff;
}
#Planescard_id_green {
  height: 600px;
}
#Planescard_id_green > h3 {
  color: #09e892;
  border-color: #09e892;
}
.Planes-container > p {
  color: #c7c7c7;
  text-align: center;
  margin: 0;
}



/*----------------------------------------------------------------------------------------------*/
.Planes-sliderContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.Planes-sliderContainer>p{
  font-size: 20px;
  font-weight: bold;
}
.Planes-Switch-Container{
  display: flex;
  align-items: center;
  gap: 18px;
}
.Planes-Switch-Container>span{
  font-size: 20px;
  font-weight: bold;
}
.Planes-switch{
  width: 80px;
  height: 35px;
  background-color: #141414;
  border-radius: 40px;
  padding: 5px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.Planes-switch[data-ison = "true"]{
  justify-content: flex-end;
}
.Planes-handle{
  width: 27px;
  height: 27px;
  border-radius: 27px;
  background-color: white;
}
.Planes-handle[data-ison = "true"]{
  background-color: #09e892;
}
@media (max-width: 575.98px) {
  .Planes-container {
    padding-bottom: 40px;
  }
  .Planes-container > div > p {
    font-size: 14px;
  }
  .Planes-container > h2 {
    font-size: 34px;
  }
  #Planescard_id_blue {
    height: 543px;
  }
  #Planescard_id_green {
    height: 543px;
  }
  .Planes-planescard-container {
    box-sizing: border-box;
    padding: 0px 50px;
    justify-content: flex-start;
    overflow-x: scroll;
  }
  .Planes-planescard-container::-webkit-scrollbar{
    display: none;
  }
  #Planescard_id_green{
    height: 660px;
  }
  #Planescard_id_blue {
    height: 660px;
  }
  .Planes-container > p {
    padding: 20px;
  }
}
