.Stepbystep-container {
  background-color: #141414;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Stepbystep-container-mark {
  display: flex;
  justify-content: center;
}
.Stepbystep-container-mark > p {
  color: white;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}
.Stepbystep-container h2 {
  font-size: 64px;
  color: #32ffaa;
}

.Stepbystep-container-stepcard {
  width: 100%;
  height: 339px;
  box-sizing: border-box;
  display: flex;
  padding: 32px 166px;
}

#Stepbystep_container_white {
  background-color: white;
  justify-content: flex-end;
}
#Stepbystep_container_purple {
  background-color: #b49fdf;
  height: 424px;
}

#stepcard_green {
  background-color: #32ffaa;
}
#stepcard_black {
  background-color: #141414;
}
#stepcard_black h3,
#stepcard_black p {
  color: white;
}
#stepcard_black h3 {
  border-color: white;
}

@media (max-width: 575.98px) {
  .Stepbystep-container{
    padding-top: 10px;
  }
  .Stepbystep-container-mark > p {
    font-size: 14px;
  }
  .Stepbystep-container h2 {
    font-size: 34px;
  }
  .Stepbystep-container-stepcard {
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  #Stepbystep_container_white {
    justify-content: center;
  }
}
